.tileContainer {
  background-color: var(--gray);
  height: 100%;
  color: #fff;
  overflow: hidden;
  cursor: grab;
}

.tile {
  height: 100%;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  gap: 3px;

  transform-origin: left;
}

.video {
  composes: tile;
  background-color: var(--secondary);
}

.audio {
  composes: tile;
  background-color: var(--tertiary);
}

.name {
  padding: 0 5px 2px 5px;
  font-size: 10px;
}

.thumbnail {
  flex-grow: 1;

  opacity: 0.8;
  background-size: auto 100%;
}
