.main {
  --options-width: 150px;
}

.playerWrapper {
  border-bottom: 1px solid var(--gray);
}

.timelineRoot {
  background-color: var(--light-gray);

  .timelineRow {
    height: 50px;
    display: flex;

    border-bottom: 1px solid var(--gray);
    &:last-child {
      border-bottom: none;
    }
  }
}

.timelineOptions {
  width: var(--options-width);
  border-right: 1px solid var(--gray);
}

.timeline {
  width: calc(100% - var(--options-width));
}

.timelineBar {
  height: 30px;
  background-color: var(--mid-gray);
  border-bottom: 1px solid var(--gray);

  display: flex;

  .sliderContainer {
    width: var(--options-width);
    border-right: 1px solid var(--gray);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider {
    width: 120px;
  }

  .rulerContainer {
    width: calc(100% - var(--options-width));
  }
}
