:root {
  --light-gray: #f5f5f5;
  --gray: #e0e0e0;
}

.playerWrapper {
  border-bottom: 1px solid var(--gray);
}

.timelineRoot {
  background-color: var(--light-gray);

  .timelineRow {
    height: 100px;
    display: flex;

    border-bottom: 1px solid var(--gray);
    &:last-child {
      border-bottom: none;
    }
  }
}
