.timeline {
  background-color: var(--mid-light-gray);

  position: relative;
  transform-origin: left;
}

.tile {
  position: absolute;
  user-select: none;
}

.dragPreview {
  composes: tile;
  opacity: 0.8;
  z-index: 2;
}
